#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app-title {
  color: #646cff;
  font-weight: 200;
  font-size: 34px;
  margin: 30px 0 0 0;
}

p {
  margin: 0;
  color: rgba(0, 0, 0, 0.262);
}

.todos-main-container {
  border: 1px solid rgba(237, 237, 237, 0.435);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 4px;
  border-radius: 65px;
  min-width: 350px;
  background: rgb(236, 154, 255);
  background: radial-gradient(rgb(236, 236, 236) 0%, rgb(248, 248, 248) 75%);
}

.users-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background-color: linear-gradient (0deg, #ebebebe4, #ffffff);

  a {
    color: rgba(0, 0, 0, 0.861);
    font-size: 14px;
    font-weight: 500;
  }
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 80%;
  border-radius: 8px;
  padding: 40px 10px 10px 10px;
  /* border: 2px solid red; */

  input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.053);
    background-color: white;
    border-bottom: 4px solid rgba(0, 0, 0, 0.053);
  }
  button {
    background-color: rgb(67, 98, 255);
    color: white;
    border-bottom: 4px solid rgb(49, 74, 200);
    border-radius: 12px;
    padding: 10px 15px;
  }
}
.list-container {
  border: 1px solid rgba(241, 241, 241, 0.46);
  /* background-color: white; */
  border-radius: 60px;
  padding: 10px;
  min-width: 340px;
}

.todo-item {
  text-align: left;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding: 10px 20px;

  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3px;
  }
  li {
    border: 1px solid rgba(0, 0, 0, 0.019);
    list-style: none;
    padding: 10px 12px;
    border-radius: 15px;
    background-color: #ffffffa2;

    font-size: 14px;
    color: rgba(0, 0, 0, 0.547);
    height: 100px;
    display: flex;
    flex-direction: column;
    flex: 1 0 100px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    opacity: 100%;
    &:hover {
      color: rgba(0, 0, 0, 0.725);
      background-color: white;
      cursor: pointer;
    }

    p {
      color: rgba(0, 0, 0, 0.914);
    }
  }
}

.react-icons {
  vertical-align: middle;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.list-item-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* border: 2px solid red; */
  /* width: 100%; */
  padding: 4px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);

  a {
    /* border: 2px solid red; */
    background-color: rgba(128, 128, 128, 0.076);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px;
    color: rgba(0, 0, 0, 0.661);

    &:hover {
      background-color: rgba(128, 128, 128, 0.076);
      color: black;
    }
  }
}
