#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app-title {
  color: #646cff;
  font-weight: 200;
  font-size: 34px;
}

.todos-main-container {
  border: 1px solid rgba(237, 237, 237, 0.435);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 25px;
  min-width: 350px;

  background-color: rgba(234, 234, 234, 0.149);
  box-shadow: 0 1px 2px rgba(81, 81, 81, 0.046);
}

.users-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 24px;

  border-radius: 12px;
  background-color: linear-gradient (0deg, #ebebebe4, #ffffff);

  a {
    color: rgba(0, 0, 0, 0.861);
    font-size: 14px;
    font-weight: 500;
  }
}

.list-container {
  border: 1px solid rgb(241, 241, 241);
  background-color: white;
  border-radius: 22px;
  padding: 30px 40px;
  min-width: 340px;

  .todo-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0 0 20px 0;
    border-radius: 8px;

    input {
      width: 100%;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.101);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.126);
    }
    button {
      background-color: black;
      color: white;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.771);
    }
  }
}

.todo-item {
  text-align: left;

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
  li {
    border: 1px solid rgba(0, 0, 0, 0.041);
    list-style: none;
    padding: 6px 6px 6px 12px;
    border-radius: 8px;
    background-color: #f5f5f587;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.547);

    &:hover {
      color: rgba(0, 0, 0, 0.725);
      background-color: white;
      cursor: pointer;
    }
  }
}

.react-icons {
  vertical-align: middle;
}

.list-item {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.list-item-buttons {
  display: flex;
  gap: 5px;
}
