#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.read-the-docs {
  color: #888;
}
.app-title {
  color: #646cff;
  font-weight: 200;
  font-size: 34px;
  margin: 30px 0 0 0;
}

p {
  margin: 0;
  color: #888;
}

.todos-main-container {
  /* border: 1px solid rgba(237, 237, 237, 0.435); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 4px;
  border-radius: 14px;
  min-width: 350px;
  background: radial-gradient(rgb(236, 236, 236) 0%, rgb(248, 248, 248) 75%);
}

.users-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border-radius: 12px;

  a {
    color: #3a43eca5;
    font-size: 14px;
    font-weight: 500;
    background-color: #646cff0e;
    padding: 1px 8px;
    border-radius: 7px;
    border: 1px solid #646cff1e;

    &:hover {
      color: #3a42ecd9;
    }
  }
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 80%;
  border-radius: 8px;
  padding: 40px 10px 10px 10px;
  /* border: 2px solid red; */

  input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.053);
    background-color: white;
    border-bottom: 4px solid rgba(0, 0, 0, 0.053);
  }
}
.list-container {
  border-radius: 60px;
  padding: 10px;
  min-width: 340px;
}

.todo-item {
  text-align: left;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding: 10px 20px;

  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3px;
  }
  li {
    /* border: 1px solid rgba(0, 0, 0, 0.019); */
    list-style: none;
    padding: 10px 12px;
    border-radius: 15px;
    background-color: #ffffffa2;
    font-size: 14px;
    color: #888;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex: 1 0 100px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    opacity: 100%;
    &:hover {
      color: rgba(0, 0, 0, 0.725);
      background-color: white;
      cursor: pointer;
    }

    p {
      color: rgba(0, 0, 0, 0.914);
    }
  }
}

.react-icons {
  vertical-align: middle;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.list-item-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* border: 2px solid red; */
  /* width: 100%; */
  padding: 4px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);

  a {
    /* border: 2px solid red; */
    background-color: rgba(128, 128, 128, 0.076);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px;
    color: rgba(0, 0, 0, 0.661);

    &:hover {
      background-color: rgba(128, 128, 128, 0.076);
      color: black;
    }
  }
}
